echo "enter bgpd.script"
target="-c /tmp /bin/bash ${scriptd}/bgpd.run ${scriptd}/bgpd.conf"
killall -u nic -9 python3 2>&1 > /dev/null || :
vm stop
sudo ${scriptd}/../nets/nets cycle guest
echo "exit bgpd.script"
