echo "enter erl.script"
target="-c /tmp /bin/bash ${scriptd}/erl.run"
killall -u nic -9 python3 2>&1 > /dev/null || :
vm stop
sudo ${scriptd}/../nets/nets cycle guest
echo "exit erl.script"
